<h1 class="text-2xl">登入帳號</h1>

<%= form_with(url: sessions_path,
              scope: 'user',
              data: {turbo: false}) do |form| %>

  <section class="flex flex-col gap-1">
    <div>
      <%= form.label :email, class: 'label' %>
      <%= form.email_field :email, class: 'input input-bordered' %>
    </div>

    <div>
      <%= form.label :password, class: 'label' %>
      <%= form.password_field :password, class: 'input input-bordered' %>
    </div>

    <div class="my-1">
      <%= form.submit '登入', class: 'btn btn-primary' %>
    </div>
  </section>
<% end %>
