<h1 class="text-2xl">結帳 <span class="font-bold text-red-600">金額 <%= current_cart.total_amount %></span></h1>

<section class="grid">
  <% current_cart.cart_items.each do |item| %>
    <div class="flex border border-slate-400">
      <figure class="w-32">
        <%= product_cover(item.product) %>
      </figure>

      <div class="flex justify-between w-full gap-6 p-2">
        <h3 class="text-xl font-bold">
          <%= item.product.title %>
        </h3>

        <div class="flex gap-3">
          <div><%= item.quantity %></div>

          <div>
            NT$ <%= item.product.price.to_i%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>

<section class="mt-4">
  <%= form_with model: @order, class: 'flex flex-col gap-2' do |form| %>
    <div>
      <%= form.label :recipient, '收件人', class: 'label' %>
      <%= form.text_field :recipient, class: 'input w-full input-bordered' %>
    </div>
    <div>
      <%= form.label :address, '地址', class: 'label' %>
      <%= form.text_field :address, class: 'input w-full input-bordered' %>
    </div>
    <div>
      <%= form.label :tel, '電話', class: 'label' %>
      <%= form.text_field :tel, class: 'input w-full input-bordered' %>
    </div>

    <div data-controller="braintree" data-token="<%= @token %>"></div>

    <div>
      <%= form.submit '送出', class: 'btn btn-neutral' %>
    </div>
  <% end %>
</section>
