<% if product.errors.any? %>
  <section class="p-4 my-4 text-white bg-rose-600">
    <ul>
    <% product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </section>
<% end %>

<%= form_with model: product,
              data: { turbo: false } do |form| %>

  <div>
    <%= form.label :cover %>
    <%= form.file_field :cover, class: 'file-input file-input-bordered' %>
  </div>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, class: 'input input-bordered' %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description, class: 'textarea textarea-bordered' %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price, class: 'input input-bordered', min: 0 %>
  </div>

  <div>
    <%= form.label :onsale %>
    <%= form.check_box :onsale, class: 'input-field', min: 0 %>
  </div>

  <div>
    <%= form.submit class: 'btn btn-primary' %>
  </div>

<% end %>
