<% if product.errors.any? %>
  <section class="p-4 my-4 text-white bg-rose-600">
    <ul>
    <% product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </section>
<% end %>

<%= form_with model: product do |form| %>

  <section class="flex flex-col gap-1">
    <div>
      <%= form.label :cover, class: 'label' %>
      <%= form.file_field :cover, class: 'file-input file-input-bordered' %>
    </div>

    <div>
      <%= form.label :title, class: 'label' %>
      <%= form.text_field :title, class: 'input input-bordered' %>
    </div>

    <div>
      <%= form.label :description, class: 'label' %>
      <%= form.text_area :description, class: 'textarea textarea-bordered' %>
    </div>

    <div>
      <%= form.label :price, class: 'label' %>
      <%= form.number_field :price, class: 'input input-bordered', min: 0 %>
    </div>

    <div>
      <%= form.label :onsale, class: 'label' %>
      <%= form.check_box :onsale, class: 'checkbox' %>
    </div>

    <div class="my-1">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </section>
<% end %>
