<li data-id="<%= product.id %>" class="p-2 bg-white border rounded shadow border-slate-300">
  <div>
    <%= link_to edit_product_path(product) do %>
      <figure>
        <%= product_cover(product) %>
      </figure>
    <% end %>
    <h2 class="font-bold"><%= link_to product.title, product_path(product) %></h2>
    <span>NT$ <%= product.price %></span>
  </div>
</li>
