<%= link_to '編輯', edit_product_path(@product), class: 'ink-btn' %>

<%= link_to '刪除', product_path(@product), class: 'ink-btn ink-btn-danger', data: {
   turbo_method: 'delete',
   turbo_confirm: '確認刪除？'
 } %>

<h1 class="text-2xl"><%= @product.title %></h1>
<h3>售價：<%= @product.price %>元</h3>
<p><%= simple_format(@product.description) %></p>
